{% extends 'base.html.twig' %}

{% block turbo_frame %}
<turbo-frame id="main-frame">
    {% block body %}
        <div class="max-w-sm mx-auto">
            {{ include('frontend/_header.html.twig') }}
            <div class="activite espace d-flex justify-content-center align-items-center flex-column">
                <h5 class="inter-font-family">Je m'inscris à la fête diocésaine</h5>
                <div class="call-action">
                    <a href="{{ path('app_inscription_recherche') }}" class="">
                        <div class="tuile bloc-cvav d-flex justify-content-center align-items-center rounded-2">Je suis un CV-AV</div>
                    </a>

                    <a href="#" class="mt-3">
                        <div class="tuile bloc-non-cvav bg-body-tertiary d-flex justify-content-center align-items-center rounded-2 mt-5">Je ne suis pas un CV-AV</div>
                    </a>
                </div>

            </div>
        </div>
    {% endblock %}
</turbo-frame>
{% endblock %}

