{% extends 'base.html.twig' %}

{% block turbo_frame %}
<turbo-frame id="main-frame">
    {% block body %}
        <div class="max-w-sm mx-auto">
            <div class="overflow-hidden">
                <div class="logo">
                    <div class="logo-icon">
                        <img src="{{ asset('images/logo-cvav.png') }}" alt="" class="img-fluid">
                    </div>
                    <div class="logo-text">
                        <h4>
                            Coeurs Vaillants Ames Vaillantes
                        </h4>
                        <h5>Dicosèse d'Abidjan</h5>
                    </div>
                </div>
            </div>
            <div class="activite espace d-flex justify-content-center align-items-center flex-column">
                <h5 class="inter-font-family">Je m'inscris à la fête diocésaine</h5>
                <div class="call-action">
                    <a href="recherche.html" class="">
                        <div class="tuile bloc-cvav d-flex justify-content-center align-items-center rounded-2">Je suis un CV-AV</div>
                    </a>

                    <a href="#" class="mt-3">
                        <div class="tuile bloc-non-cvav bg-body-tertiary d-flex justify-content-center align-items-center rounded-2 mt-5">Je ne suis pas un CV-AV</div>
                    </a>
                </div>

            </div>
        </div>
    {% endblock %}
</turbo-frame>
{% endblock %}

