{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - Recu non trouvé {% endblock %}

{% block turbo_frame %}
    <turbo-frame id="main-frame">
        {% block body %}
            {{ include('frontend/_header.html.twig') }}

            <div class="activite">
                <div class="activite-icon" >
                    <img src="{{ absolute_url(asset('images/sad.png')) }}" alt="" class="img-fluid">
                </div>
                <div class="activite-text" >
                    <h3 class="titre">Oups!!</h3>
                    <h6 class="theme">
                        Les informations renseignées n'ont pas été trouvées.
                        Si tu penses que c'est une erreur, contacte les administrateurs diocésains.
                    </h6>


                </div>
                <div class="call-action" style="margin-top: 80px;">
                    <a href="{{ absolute_url(path('app_recu_recherche')) }}" class="btnAction">
                        Je reprends
                    </a>
                </div>
            </div>
        {% endblock %}
    </turbo-frame>

{% endblock %}
